
.octodex {    /*sets the outside box that holds all our sections*/
  padding: 20px;
  width: 30%;
  height: 50%;
  list-style-type: none;
}

.octocat {
  display: inline-block;
  width: 30%;
}

.octocat img{
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;

}

.image-footer{
  border-bottom: 1px solid lightgrey;
  font-size: 3px;
}

.image-footer img{
  width: 20%;
  height: 20%;
  border-radius: 30%;
  border-color: white;
  vertical-align: top;
/*   border: 1px solid purple; */
}


.image-number {
  color: lightgrey;
  vertical-align: top;
}

.image-number:before{
  content: "#";
  vertical-align: top;
}

.image-caption{
/*   border: 1px solid green; */
  text-align: right;
  width: 80%;
  height: 40%;
  display: inline-block;
}

ul.authors{
/*   border: 1px solid orange; */
  padding-left: 0;
  display: inline-block;
  white-space: nowrap;
  width: 40%;
  list-style-type: none;
}

.image-caption a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  width: 20%;
  height: 50%;
  vertical-align: top;
}

.image-caption span{
/*   border: 1px solid purple; */
  vertical-align: top;
}
