
.octodex {    /*sets the outside box that holds all our sections*/
  padding: 20px;
  width: 100%;
  list-style-type: none;
}

.octocat {
  display: inline-block;
  width: 30%;
}

.octocat img{
  width: 100%;
  border: 1px solid lightgrey;

}

.image-footer{
  border-bottom: 1px solid lightgrey;
  font-size: 3px;
  position: relative;
}

.image-footer img{
  width: 4px;
  height: 4px;
  border-radius: 30%;
  border-color: white;
  vertical-align: top;
/*   border: 1px solid purple; */
}


.image-number {
  color: lightgrey;
  vertical-align: top;
  width:100%;
  font-size: 2.5em;
}

.image-number:before{
  content: "#";
  vertical-align: top;
}

.image-caption{
/*   border: 1px solid green; */
  right:0;
  text-align: right;
  width: 80%;
  height: 40%;
  display: inline-block;
  font-size: 2em;
}


.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2px 2px 0 2px;
  border-color: #ebebeb transparent transparent transparent;
  position: absolute;
  right: 0;
  top: 0;
}

ul.authors{
/*   border: 1px solid orange; */
  padding-left: 0;
  display: inline-block;
  white-space: nowrap;
  width: auto;
  list-style-type: none;
}

.image-caption a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  width: 20%;
/*   vertical-align: middle; */
}

.image-caption span{
/*   border: 1px solid purple; */
/*   vertical-align: middle; */
}

.image-caption img{
  width: 13px;
  height: 13px;
}
